<div class="footer agency-footer mt-0">
    <a href="#" class="go-top">
      <i class="fa fa-angle-up"></i>
      TOP
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4>Taking New Patients</h4>
          <!-- <a href="#" class="legal">Portfolio</a>
          <a href="#" class="legal">Clients</a>
          <a href="#" class="legal">Careers</a> -->
          <p>We are accepting new patients in NorthEast Edmonton. <br>
          Kindly call our office to inquire about becoming a new patient.</p>
        </div>
        <div class="col-md-3">
          <h4>Address</h4>
          <p>
            Royal Center<br>
            16644-71 Street
            Edmonton,<br> AB
            T5Z 0N5
          </p>
        </div>
        <div class="col-md-3">
          <h4>Contact</h4>
          <p>
            P: 780-761-2430<br>
            Fax: 780-473-3330
            <!-- info@spacial.com -->
          </p>
        </div>
        <div class="col-md-3">
          <h4>Social</h4>
          <a href="#" class="social first">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-dribbble"></i>
          </a>
          <a href="#" class="social">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <div class="bottom">
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <!-- <li><a href="#">Language</a></li> -->
        </ul>
      </div>
    </div>
</div>